!.gitkeep

# NPM
nginx_proxy_manager/npm-data
nginx_proxy_manager/npm-db
nginx_proxy_manager/letsencrypt

# Matomo
matomo/db-data/
matomo/config/.htaccess
matomo/config/*.php
matomo/config/environment/*.php

# Metabase
metabase/db-data/
metabase/metabase-data/

# N8N
n8n/.n8n/
n8n/postgres-data
n8n/redis-data
n8n/postgres-data/.gitkeep
n8n/redis-data/.gitkeep

# Portainer
portainer/portainer-data

# ClickHouse
clickhouse/clickhouse_data
