[mysqld]
bind-address = 0.0.0.0

# Disable creation of binlog files
skip-log-bin

# General
max_connections = 150

# Memory
innodb_buffer_pool_size = 12G  # Allocating around 60% of system RAM to InnoDB buffer pool
innodb_buffer_pool_instances = 12  # One instance per CPU core
innodb_log_buffer_size = 64M
thread_cache_size = 50

# Per-thread Buffers
sort_buffer_size = 4M
join_buffer_size = 4M
read_buffer_size = 2M
read_rnd_buffer_size = 16M

# For Report Archiving Feature
local-infile = 1
secure_file_priv = ""

# Matomo recommandation
max_allowed_packet=64M
